@charset "utf-8";
body{
	margin:0;
	padding:0;	
}
.wrapper {
    height: auto;
    width: 90%;
    margin: 0 auto;
    border: 1px solid lightsteelblue;
}
/*nội dung gồm thân giữa và footer*/
.page-wrap{
	
	
    margin: 0px 35px;
    padding-top:3%; 
    position: relative;
}
/*Thân*/
.grid wide {
    padding-left: 30px;
}
.item{
	border: 1px solid #000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 230px; 
    height: 325px;
    border-radius: 10px;
	}
.item a{
		display:block;	
		color: #008000;
		text-decoration: none;
		font-weight: bold;	
	}
.item a:hover{
	color:#6C0;
	}
.item img:hover{
	width:210px;
	height:270px;
		
}
.item input{
	background-color:#FC0;
	border: 0;
	border-radius: 3px;
	color:#000;
}
.item input:hover{
	background-color: #F90;
}
/*trang*/
.pagination a:hover{
	background-color:#999;
	color:#fff;
}
ul.pagination {
    justify-content: center;
    align-items: center;
	
}
a.page-link {
    font-size: 20px;
	
	
}
